<div class="example">

    <div>
        <h1>STEP 1. Enter your password here:</h1>
        <input type="text" id="pass">
    </div>
    <div class="file-select">
        <h1><label for="avatar">STEP 2. Load your Pandacoin backup:</label></h1>
        <input type="file"
               id="avatar" name="avatar">
    </div>

    <div class="event-log">
        <h1>STEP 3. Copy your private key(s) and import them in BlueWallet:</h1>
        <h2>IMPORTANT: Import each line to a new wallet, do not copy them all at once!</h2>
        <textarea style="width: 500px; height: 250px;" readonly class="event-log-contents"></textarea>
        <h2>Alternatively you can scan each qr code with any wallet that supports Pandacoin</h2>
        <div class="qr-container"></div>
        <img width="400" src="photo_2021-08-07_16-38-40.jpg" />
    </div>
    <script type="text/javascript" src="bower_components/crypto-js/crypto-js.js"></script>
    <script type="text/javascript" src="qrcode.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </div>
